
<h1>威力彩</h1>


	<table class="table table-hover">
		<thead>
			<tr>
				<th>期別</th>
				<th>開獎日</th>
				<th>號碼</th>
				<th>特別號</th>
			</tr>
		</thead>
		<tbody>
			<% @lottory.each do |lottory_id, lottory_info| %>
				<tr>
					<td><%= lottory_info["期別"] %></td>
					<td><%= lottory_info["開獎日"] %></td>
					<td><%= lottory_info["號碼"] %></td>
					<td><%= lottory_info["特別號"] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

